.technology {
  /* height: 645px; */
  background: white;
}
.content__technology {
  display: flex;
  margin-top: 100px;
}
.technology__left {
  width: 409px;
}
.tech__title {
  margin-top: 77px;
}
.technology__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  margin-top: 5px;
  color: #222222;
}
.technology__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  color: #666666;
}
.speed {
  background: #f2f2f2;
}
.speed__technology {
  display: flex;
  padding-top: 94px;
}
.technology__right {
  height: 550px;
}
.speed__right {
  height: 544px;
}
.tech__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media only screen and (max-width: 740px) {
  .content__technology {
    display: block;
  }
  .speed__technology {
    display: block;
  }
  .technology__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .technology__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
  }
  .technology__left {
    max-width: 400px;
    width: 100%;
  }
  .technology__descr {
    margin-bottom: 15px;
  }
}
