@import "./styles/analyzed.css";
@import "./styles/burger.css";
@import "./styles/download.css";
@import "./styles/faq.css";
@import "./styles/features.css";
@import "./styles/footer.css";
@import "./styles/future.css";
@import "./styles/modal.css";
@import "./styles/mods.css";
@import "./styles/navigation.css";
@import "./styles/pricing.css";
@import "./styles/tech.css";
@import "./styles/testimonials..css";
@import "./styles/timer.css";


* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
}
h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
.btn {
  background: #222222;
  border-radius: 4px;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.nav__btna{
  width: 172px !important;
  background: #222222;
  border-radius: 4px;
  padding: 10px 31px !important;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn:hover{
  background: #4E4E4E;
}
.btn:focus{
  outline: 3px solid #5AB0FF;
}
html {
  scroll-behavior: smooth;
}

.text-blue {
    color: #0278ED;
}

.blue {
    background: #0278ED;
}

.text-orange {
    color: #FF5437;
}

.orangee {
    background: #FF5437;
}

.text-limon {
    color: #FF9209;
}

.limon {
    background: #FF9209;
}

.text-violet {
    color: #B25DF8;
}

.violete {
    background: #B25DF8;
}

.text-sky {
    color: #00C6DF;
}

.skye {
    background: #00C6DF;
}

.text-pink {
    color: #E738CE;
}

.pinke {
    background: #E738CE;
}

.btn-blue {
    color: #0278ED;
}

.btn-orange {
    border: 1px solid #FF5437;
}

.btn-limon {

    border: 1px solid #FF9209;
}