.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 110px auto;
  padding: 38px;
  border: 1px solid #888;
  max-width: 506px;
  width: 100%;
  height: 800px;
  z-index: 999;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  width: 312px;
}
.modal__input-mail {
  width: 330px;
  height: 42px;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-top: 42px;
  display: flex;
  
}

.error__input .error{
  display: block;
}
.error__input .modal__input-mail{
  background: #FFEEEE !important;

}
.error__input .modal__input-password {
  background: #FFEEEE !important;

}
.error{
  color: red;
  font-size: 10px;
margin-left: 50px;  
display: none;
}
.modal__input-password {
  width: 330px;
  height: 42px;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-top: 17px;
  display: flex;
}
.modal__text-plan {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 23px;
  color: #000000;
  text-align: center;
}
.btn__card-modal {
  width: 330px;
  height: 42px;
  display: flex;
  background: #fafafa;
  border: 1px solid #0278ed;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  color: #0278ed;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.orange__border {
  border: 1px solid #ff5437;
}
.yellow__border {
  border: 1px solid #ff9209;
}
.modal__text-app {
  margin-top: 42px;
  text-align: center;
  margin-bottom: 13px;
}
.modal__radio-btn {
  text-align: center;
  margin: 0;
}

.modal__span {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0278ed;
  margin-left: 19px;
}
input[type="radio"] {
  border: 2px solid #0278ed;
  padding: 0.5em;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;

  border-radius: 4px;
  background: url() no-repeat center center;
}

input[type="radio"]:checked {
  background: url(../images/done.svg) no-repeat center center;
  background-size: 19px 15px;
}

input[type="radio"]:focus {
  /* background: url() no-repeat center center; */
  outline-color: transparent;
}

.modal__btn {
  width: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 32px;
}
.modal__radio-up {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 160px;
  margin-top: 10px;
}
.radio__modal_pricer {
  justify-content: space-between;
  padding: 10px;
}

.radio__modal_pricer input[type="radio"] {
  border: none;
}
.radio__modal_pricer input[type="radio"]:checked {
  background: url(../images/succes.svg) no-repeat center center;
  background-size: 19px 15px;
}
.span__input {
  margin-left: -24px;
}
.loader {
  margin: 0;
  width: 16px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text__loading {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #7e7e7e;
  margin-left: 27px;
}
.modal__send_data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  display: none;
}
.visable {
  display: flex;
}
.error__text {
  text-align: center;
  color: red;
  margin-top: 15px;
}
#error__value {
  display: none;
}
.y {
  background: #ff9209;
}
#yspan {
  color: white;
}
.checkbox__modal{
  width: 24px;
  height: 24px;
  border: 2px solid #0278ED;
border-radius: 4px;
}
