.mods {
  height: 997px;
  background: #222222;
}
.mode__img {
  height: 486px;
  width: 600px;
  border-bottom: 1px solid white;
  display: flex;
}
.mode-img {
  height: 486px;
}
.mods__content {
  padding-top: 100px;
}
.mods__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.mods__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}
.mods__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
  width: 578px;
}
.mode__img{
    margin-top: 36px;
}
.mods__span{
    color: #FF9209;;
}
.mode__btn{
    margin: 0;
    background: none;
    border: none;
    color: white;
}
.mode__btn:first-child{
    margin-right: 40px;
}
.mode__btns{
    margin-top: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}