nav {
  padding: 25px;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 590px;
  width: 100%;
}
.nav__li{
  list-style-type: none;
}
.nav__a{
  margin: 0;
}
.nav__li a{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #666666;
  cursor: pointer;
}

.nav__btn {
  width: 172px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.nav__ul{
  display: flex;
}
@media only screen and (max-width: 840px) {
 .nav__ul{
   display: none;
 }
 .logo{
   margin: 0;
 }
 nav{
   padding: 15px;
 }
 
}